<div class="details-page">
    <div class="contentof">
        <div *ngFor="let c of listComputer">
              <div class="imageof"><img src="{{c.picture}}" alt="" height="150px" width="150px"></div>
              <div class="nombre">{{c.name}}</div>
              <div class="nombre">{{c.date}}</div>
              <div class="nombre">{{c.marca}}</div>
              <div class="nombre">{{c.status}}</div>
              <div class="nombre">{{c.type}}</div>
              <agm-map [latitude]="c.shop[0].latitude" [longitude]="c.shop[0].longitude" class="map">
                
                <agm-marker *ngFor="let s of c.shop" [latitude]="s.latitude" [longitude]="s.longitude"></agm-marker>

              </agm-map>
         </div>
         
         
      </div>
</div>
