<div class="contact-page">
  <div class="container">
    <form id="contactform" #contactform="ngForm" name="contact_form" class="form-contact" (ngSubmit)="SubmitContact()">
        <br>
        <h2 class="form-contact-heading">Contacto</h2>

        <div class="control-group">
            <input required [(ngModel)]="model.inputName" type="text" id="inputName" #inputName="ngModel"  name="inputName" placeholder="Nombre" class="input-block-level" dir="auto" maxlength="100">
            <div *ngIf="inputName.errors && (inputName.dirty || inputName.touched)">
                <span [hidden]="!inputName.errors.required" class="text-danger">El campo es obligatorio</span>
            </div>

        </div>
        <div class="control-group">
            <input required [(ngModel)]="model.inputEmail" type="email" id="inputEmail" #inputEmail="ngModel" name="inputEmail" placeholder="Email *" class="input-block-level" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="inputEmail.errors && (inputEmail.dirty || inputEmail.touched)">
                <span class="text-danger" [hidden]="!inputEmail.errors.required">El campo es obligatorio</span>
                <span class="text-danger" [hidden]="!inputEmail.errors.pattern">Email no valido</span>
            </div>
        </div>
        <div class="control-group">
            <label class="cmbConsulta" for="sel1">Tema de Consulta</label>
            <select [(ngModel)]="model.inputSubject" #inputSubject="ngModel" class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                <option value="">- Por favor, seleccione un tema de consulta -</option>
                <option value="actividad">Info relativa a alguna actividad</option>
                <option value="dpto">Contacta con nuestro dpto de actividades</option>
                <option value="trabaja">Trabaja con nosotros</option>
                <option value="sugerencias">Haznos sugerencias</option>
                <option value="reclamaciones">Atendemos tus reclamaciones</option>
                <option value="novedades">Te avisamos de nuestras novedades</option>
                <option value="diferente">Algo diferente</option>
            </select>
        </div>
        <div class="control-group">
            <textarea required [(ngModel)]="model.inputMessage" #inputMessage="ngModel" class="input-block-level" rows="4" id="inputMessage" name="inputMessage" placeholder="Introduzca aqui su mensaje *" style="max-width: 100%;" dir="auto"></textarea>
            <div *ngIf="inputMessage.errors && (inputMessage.dirty || inputMessage.touched)">
                <span class="text-danger">El campo es obligatorio</span>
            </div>
        </div>

        <input type="hidden" name="token" value="contact_form" />
        
        <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" value="Enviar" 
        [hidden]="!contactform.form.valid" />

        
        <div id="resultMessage" ng-class="class">{{message}}</div>
    </form>
</div> 
    </div>
    